html {
  font-size: 0.625rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 1.6rem;
  text-transform: uppercase;
}

.icon {
  color: #fff;
}
.icon::before {
  margin: 0;
}

@font-face {
  font-family: HeadingPro;
  src: url(../fonts/heading-pro/Heading-Pro-Regular-trial.ttf);
}
@font-face {
  font-family: HeadingPro;
  src: url(../fonts/heading-pro/Heading-Pro-Bold-Italic-trial.ttf);
  font-weight: bold;
}
@font-face {
  font-family: HeadingPro;
  src: url(../fonts/heading-pro/Heading-Pro-Light-Italic-trial.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Lato;
  src: url("../fonts/lato/Lato-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/lato/Lato-Bold.ttf");
  font-weight: 700;
}
/* 
Photo by Noelle Otto from Pexels
Photo by Markus Spiske temporausch.com from Pexels
*/
body {
  font-family: sans-serif;
  /* Change this */
}

/* Reusable classes */
.btn {
  border: none;
  outline: none;
  padding: 1.6rem 2rem;
  display: inline-block;
  transition: background-color 450ms;
  color: #fff;
  text-transform: uppercase;
  width: 90%;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn-md {
  margin: 2rem auto 0 auto;
  width: 50%;
  padding: 1rem;
  font-size: 1.4rem;
}

/* Header */
header {
  background-color: #0a1324;
  display: flex;
  padding: 1.6rem;
  align-items: center;
  justify-content: space-between;
}
header .btn-menu {
  width: 2rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  cursor: pointer;
}
header .btn-menu .bar,
header .btn-menu .bar::before,
header .btn-menu .bar::after {
  width: 2rem;
  height: 0.2rem;
  background-color: #fff;
}
header .btn-menu .bar {
  position: relative;
}
header .btn-menu .bar::after, header .btn-menu .bar::before {
  content: "";
  position: absolute;
}
header .btn-menu .bar::after {
  top: -0.8rem;
}
header .btn-menu .bar::before {
  bottom: -0.8rem;
}
header .logo {
  display: inline-block;
  margin-right: 1rem;
}
header .logo img {
  width: 6.4rem;
}
header .overlay {
  position: relative;
  z-index: 1;
}
header .overlay .navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 6rem 0;
  background-color: #01061d;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 750ms;
}
header .overlay .navbar.visible {
  transform: translateX(0);
}
header .overlay .navbar .btn-close {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
}
header .overlay .navbar .btn-close::before, header .overlay .navbar .btn-close::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 3rem;
  height: 0.25rem;
  background-color: #fff;
}
header .overlay .navbar .btn-close::before {
  transform: rotate(45deg);
}
header .overlay .navbar .btn-close::after {
  transform: rotate(-45deg);
}
header .overlay .navbar li {
  margin: 3rem 0;
}
header .overlay .navbar li a {
  font-family: HeadingPro;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  font-size: 3.2rem;
  text-transform: uppercase;
  transition: color 500ms;
}
header .overlay .navbar li a:hover {
  color: #ba8843;
  color: #ee3124;
}

/* Last News Showase */
.slider {
  width: 100%;
  position: relative;
}
.slider .slide {
  display: none;
  background-color: #01061d;
  max-width: 100%;
  position: relative;
  transform: translateX(100%);
  transition: all 750ms;
}
.slider .slide::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}
.slider .slide img {
  max-width: 100%;
}
.slider .slide.active {
  display: block;
  transform: translateX(0) scale(1);
}
.slider .slide.active.from-left img {
  animation: from-left 400ms linear;
}
.slider .slide.active.from-left h2 {
  animation: from-right 400ms linear;
}
.slider .slide.active.from-right img {
  animation: from-right 400ms linear;
}
.slider .slide.active.from-right h2 {
  animation: from-left 400ms linear;
}
.slider .slide h2 {
  padding: 1.2rem 1.2rem 1rem 1.2rem;
  position: absolute;
  bottom: 0;
  font-size: 2em;
  color: #fff;
  font-family: HeadingPro;
  font-style: italic;
  text-transform: uppercase;
}
.slider .left-arrow,
.slider .right-arrow {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  cursor: pointer;
}
.slider .left-arrow:hover,
.slider .right-arrow:hover {
  background-color: rgba(10, 19, 36, 0.7);
  color: #fff;
}
.slider .left-arrow {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.slider .right-arrow {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
}
@keyframes from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes from-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Next Match */
.next-match,
.latest-result {
  text-align: center;
  padding: 2rem 1.6rem;
  color: #01061d;
  background-color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.next-match h2,
.latest-result h2 {
  font-weight: 700;
  font-size: 2.4rem;
  font-style: italic;
}
.next-match .match-info,
.latest-result .match-info {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 300;
}
.next-match .match-teams,
.latest-result .match-teams {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  font-style: normal;
}
.next-match .match-teams .team,
.latest-result .match-teams .team {
  flex: 1;
}
.next-match .match-teams .team img,
.latest-result .match-teams .team img {
  height: 6rem;
}
.next-match .match-teams .team p,
.latest-result .match-teams .team p {
  font-size: 1.5rem;
}
.next-match .match-teams h3,
.latest-result .match-teams h3 {
  font-size: 2rem;
  font-weight: 300;
}
.next-match .match-location,
.latest-result .match-location {
  margin-top: 1.5rem;
}
.next-match .match-location p,
.latest-result .match-location p {
  font-size: 1.3rem;
  font-weight: 300;
}
.next-match .btn-buy-tickets,
.next-match .btn-full-report,
.latest-result .btn-buy-tickets,
.latest-result .btn-full-report {
  margin-top: 2rem;
  background-color: #ee3124;
}
.next-match .btn-buy-tickets:hover,
.next-match .btn-full-report:hover,
.latest-result .btn-buy-tickets:hover,
.latest-result .btn-full-report:hover {
  background-color: #ee3124;
  color: #fff;
}

.latest-result {
  background-color: #01061d;
  color: #fff;
}
.latest-result .final-result h3 {
  display: inline-block;
  font-size: 4.5rem;
  margin: 0 1.6rem;
}
.latest-result .btn-full-report {
  background-color: #035aa4;
}
.latest-result .btn-full-report:hover {
  background-color: #fff;
  color: #01061d;
}

.shop-list {
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.shop-list h2 {
  font-size: 2.4rem;
  font-style: italic;
  color: #01061d;
}
.shop-list .product {
  width: 100%;
  margin-top: 2rem;
  background-color: #01061d;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  transform: translateX(100%);
  transition: all 750ms;
  display: none;
}
.shop-list .product.active {
  display: block;
  transform: translateX(0) scale(1);
}
.shop-list .product p {
  color: #e0b06d;
  font-size: 1.8rem;
  margin: 1.5rem 0;
}
.shop-list .product img {
  max-width: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.shop-list .product .btn-shop-now {
  background-color: #ee3124;
  padding: 2rem;
}
.shop-list .product .btn-shop-now p {
  margin: 0;
  font-size: 1.6rem;
  display: inline-block;
  color: #fff;
}
.shop-list .product .btn-shop-now img {
  border-radius: 0;
  width: 1.6rem;
  margin-left: 0.2rem;
}
.shop-list .product .supplier {
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  padding: 1.6rem;
  margin-top: 2rem;
}
.shop-list .products-controls {
  max-width: 100%;
  padding: 2rem 1.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-list .products-controls .control {
  width: 33.3%;
  height: 0.6rem;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: #cfcfcf;
  transition: background-color 680ms;
}
.shop-list .products-controls .control.active {
  background-color: #ee3124;
}

/* Last News */
.last-news {
  background-color: #01061d;
  color: #fff;
  font-family: "Oswald", sans-serif;
  max-width: 100%;
}
.last-news h2 {
  font-weight: 700;
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
}
.last-news .news {
  display: flex;
  padding: 1.6rem 0;
}
.last-news .news img {
  max-width: 50%;
  border-radius: 0.2rem;
}
.last-news .news .news-info {
  display: flex;
  flex-direction: column;
  margin-left: 1.6rem;
}
.last-news .news .news-info .news-title {
  flex: 2;
  font-size: 1.8rem;
}
.last-news .news .news-info .news-details {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.last-news .news .news-info .news-details p {
  display: inline-block;
  font-size: 1.2rem;
}
.last-news .news .news-info .news-details p span {
  width: 1.2rem;
}
.last-news .news .news-info .news-details p span img {
  width: 1.2rem;
}
.last-news .news .news-info .news-details .news-category {
  background-color: #ee3124;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.last-news .btn-load-more {
  margin: 2rem auto 0 auto;
  background-color: #035aa4;
  display: block;
  width: 50%;
  padding: 1rem;
  font-size: 1.4rem;
}
.last-news .btn-load-more:hover {
  background-color: #ee3124;
}

/* Membership */
.membership {
  padding: 0;
  font-family: "Oswald", sans-serif;
  /* FIX THIS, BTN-JOIN-MEMBERSHIP IN 3 PLACES */
}
.membership h2 {
  font-weight: 700;
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
}
.membership .membership-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  text-align: center;
  background: linear-gradient(to bottom, rgba(216, 5, 5, 0.4), rgba(4, 18, 65, 0.6)), url("../img/news-2.jpg") no-repeat center center/cover;
  width: 100%;
  min-height: 30rem;
  color: #fff;
}
.membership .membership-banner h2 {
  font-size: 4.2rem;
  line-height: 1;
}
.membership .membership-banner .btn-join-membership {
  margin-top: 2.5rem;
  background-color: #ee3124;
  font-size: 1.8rem;
  font-style: italic;
}
.membership .membership-benefits {
  padding: 1.6rem;
  background-color: #efefef;
  text-align: center;
}
.membership .membership-benefits h3 {
  font-size: 2.4rem;
  text-align: center;
  color: #e0b06d;
  font-style: italic;
}
.membership .membership-benefits h4 {
  margin-top: 1rem;
  font-size: 1.6rem;
}
.membership .membership-benefits li {
  margin-top: 1rem;
  text-align: left;
}
.membership .membership-benefits li p {
  font-size: 1.4rem;
  font-style: italic;
}
.membership .membership-benefits .btn-join-membership {
  background-color: #ee3124;
}
.membership .btn-join-membership:hover {
  background-color: #01061d;
  color: #e0b06d;
}

.newsletter {
  background-color: #01061d;
  color: #fff;
  font-family: "Oswald", sans-serif;
}
.newsletter h2 {
  font-weight: 700;
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
}
.newsletter h4 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
.newsletter form input {
  display: block;
  font-family: "Oswald", sans-serif;
  outline: none;
  border: 1px solid #fff;
  width: 100%;
  color: #fff;
  background-color: #01061d;
  margin-top: 1.6rem;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-style: italic;
}
.newsletter form input::placeholder {
  color: #fff;
}
.newsletter form input:focus {
  border: 2px solid #e0b06d;
}
.newsletter form .btn-subscribe {
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  border: 1px solid #fff;
  background-color: #01061d;
  transition: color 500ms, border 500ms;
}
.newsletter form .btn-subscribe:hover {
  color: #e0b06d;
  border: 1px solid #e0b06d;
}

.partners {
  background-color: #efefef;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.partners h2 {
  font-weight: 700;
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
  color: #01061d;
}
.partners .partner {
  display: block;
  margin: 0 auto;
  margin-top: 4.5rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.footer {
  background-color: #01061d;
  padding: 2rem 0;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.footer .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .social h2 {
  font-weight: 700;
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
}
.footer .social ul {
  margin-top: 1.6rem;
}
.footer .social ul li {
  display: inline-block;
  margin-right: 1.6rem;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 1.2rem;
}
.footer .social ul li:nth-child(1) {
  margin-left: 1.6rem;
}
.footer .social ul li:hover {
  border: 2px solid #e0b06d;
}
.footer .social ul li:hover span {
  color: #e0b06d;
}
.footer .footer-links {
  margin-top: 4rem;
}
.footer .footer-links li {
  margin-top: 1.2rem;
}
.footer .footer-links li a {
  color: #fff;
  padding: 1rem 1rem 1rem 0;
  font-size: 1.4rem;
}
.footer .footer-logo {
  margin-top: 4rem;
  width: 100%;
  position: relative;
  text-align: center;
}
.footer .footer-logo::before, .footer .footer-logo::after {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  width: 40%;
  height: 0.2rem;
  background-color: #fff;
}
.footer .footer-logo::after {
  right: 0;
}
.footer .footer-logo img {
  width: 6.4rem;
}
.footer .secondary-links {
  margin-top: 1.6rem;
}
.footer .secondary-links li {
  margin-top: 1.2rem;
}
.footer .secondary-links li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}
.footer .secondary-links p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
.footer .secondary-links p span {
  color: #efefef;
  color: rgba(255, 255, 255, 0.6);
}

/*# sourceMappingURL=style.css.map */
