html {
  font-size: 0.625rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 0;
}

@font-face {
  font-family: HeadingPro;
  src: url(../fonts/heading-pro/Heading-Pro-Regular-trial.ttf);
}
@font-face {
  font-family: HeadingPro;
  src: url(../fonts/heading-pro/Heading-Pro-Bold-Italic-trial.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: HeadingPro;
  src: url(../fonts/heading-pro/Heading-Pro-Light-Italic-trial.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Lato;
  src: url("../fonts/lato/Lato-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/lato/Lato-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: sans-serif;
  /* Change this */
}

/* Header */
header {
  background-color: #0a1324;
  display: flex;
  padding: 1.6rem;
  align-items: center;
  justify-content: space-between;
}
header .btn-menu {
  width: 2rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  cursor: pointer;
}
header .btn-menu .bar,
header .btn-menu .bar::before,
header .btn-menu .bar::after {
  width: 2rem;
  height: 0.2rem;
  background-color: #fff;
}
header .btn-menu .bar {
  position: relative;
}
header .btn-menu .bar::after, header .btn-menu .bar::before {
  content: "";
  position: absolute;
}
header .btn-menu .bar::after {
  top: -0.8rem;
}
header .btn-menu .bar::before {
  bottom: -0.8rem;
}
header .logo {
  display: inline-block;
  margin-right: 1rem;
}
header .logo img {
  width: 6.4rem;
}
header .overlay {
  position: relative;
}
header .overlay .navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 6rem 0;
  background-color: #01061d;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 750ms;
}
header .overlay .navbar.visible {
  transform: translateX(0);
}
header .overlay .navbar .btn-close {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
}
header .overlay .navbar .btn-close::before, header .overlay .navbar .btn-close::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 3rem;
  height: 0.25rem;
  background-color: #fff;
}
header .overlay .navbar .btn-close::before {
  transform: rotate(45deg);
}
header .overlay .navbar .btn-close::after {
  transform: rotate(-45deg);
}
header .overlay .navbar li {
  margin: 3rem 0;
}
header .overlay .navbar li a {
  font-family: HeadingPro;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  font-size: 3.2rem;
  text-transform: uppercase;
  transition: color 500ms;
}
header .overlay .navbar li a:hover {
  color: #ba8843;
  color: #ee3124;
}

/*# sourceMappingURL=style.css.map */
