@font-face {
  font-family: HeadingPro;
  src: url(../fonts/heading-pro/Heading-Pro-Regular-trial.ttf);
}

@font-face {
  font-family: HeadingPro;
  src: url(../fonts/heading-pro/Heading-Pro-Bold-Italic-trial.ttf);
  font-weight: bold;
}

@font-face {
  font-family: HeadingPro;
  src: url(../fonts/heading-pro/Heading-Pro-Light-Italic-trial.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../fonts/lato/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/lato/Lato-Bold.ttf");
  font-weight: 700;
}
