@import "reset";
@import "colors";
@import "fonts";

/* 
Photo by Noelle Otto from Pexels
Photo by Markus Spiske temporausch.com from Pexels
*/

body {
  font-family: sans-serif; /* Change this */
}

/* Reusable classes */
.btn {
  border: none;
  outline: none;
  padding: 1.6rem 2rem;
  display: inline-block;
  transition: background-color 450ms;
  color: #fff;
  text-transform: uppercase;
  width: 90%;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
}

/* Header */
header {
  background-color: $deepest-blue;
  display: flex;
  padding: 1.6rem;
  align-items: center;
  justify-content: space-between;

  .btn-menu {
    width: 2rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    cursor: pointer;

    .bar,
    .bar::before,
    .bar::after {
      width: 2rem;
      height: 0.2rem;
      background-color: $main-white;
    }

    .bar {
      position: relative;

      &::after,
      &::before {
        content: "";
        position: absolute;
      }

      &::after {
        top: -0.8rem;
      }
      &::before {
        bottom: -0.8rem;
      }
    }
  }

  .logo {
    display: inline-block;
    margin-right: 1rem;
    img {
      width: 6.4rem;
    }
  }

  .overlay {
    position: relative;
    z-index: 1;

    .navbar {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 6rem 0;
      background-color: rgba($deep-blue, $alpha: 1);
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transform: translateX(-100%);
      transition: transform 750ms;

      &.visible {
        transform: translateX(0);
      }

      .btn-close {
        width: 3.5rem;
        height: 3.5rem;
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        cursor: pointer;

        &::before,
        &::after {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: 3rem;
          height: 0.25rem;
          background-color: $main-white;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      li {
        margin: 3rem 0;

        a {
          font-family: HeadingPro;
          font-style: italic;
          font-weight: bold;
          color: #fff;
          font-size: 3.2rem;
          text-transform: uppercase;
          transition: color 500ms;

          &:hover {
            color: $main-golden-yellow;
            color: $main-red;
          }
        }
      }
    }
  }
}

/* Last News Showase */
.slider {
  width: 100%;
  position: relative;

  .slide {
    display: none;
    background-color: $deep-blue;
    max-width: 100%;
    position: relative;
    transform: translateX(100%);
    transition: all 750ms;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.7)
      );
    }

    img {
      max-width: 100%;
    }

    &.active {
      display: block;
      transform: translateX(0) scale(1);

      &.from-left {
        img {
          animation: from-left 400ms linear;
        }

        h2 {
          animation: from-right 400ms linear;
        }
      }

      &.from-right {
        img {
          animation: from-right 400ms linear;
        }

        h2 {
          animation: from-left 400ms linear;
        }
      }
    }

    h2 {
      padding: 1.2rem 1.2rem 1rem 1.2rem;
      position: absolute;
      bottom: 0;
      font-size: 2em;
      color: $main-white;
      font-family: HeadingPro;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  .left-arrow,
  .right-arrow {
    font-size: 3rem;
    font-weight: bold;
    color: rgba($main-white, 0.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: rgba($deepest-blue, 0.7);
      color: $main-white;
    }
  }

  .left-arrow {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .right-arrow {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
  }

  @keyframes from-left {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes from-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/* Next Match */
.next-match,
.latest-result {
  text-align: center;
  padding: 2rem 1.6rem;
  color: $deep-blue;
  background-color: $main-white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  h2 {
    font-weight: 700;
    font-size: 2.4rem;
    font-style: italic;
  }

  .match-info {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .match-teams {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    font-style: normal;

    .team {
      flex: 1;

      img {
        height: 6rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  .match-location {
    margin-top: 1.5rem;

    p {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  .btn-buy-tickets,
  .btn-full-report {
    margin-top: 2rem;
    background-color: $main-red;

    &:hover {
      background-color: $main-red;
      color: #fff;
    }
  }
}

.latest-result {
  background-color: $deep-blue;
  color: $main-white;

  .final-result {
    h3 {
      display: inline-block;
      font-size: 4.5rem;
      margin: 0 1.6rem;
    }
  }

  .btn-full-report {
    background-color: $main-blue;

    &:hover {
      background-color: $main-white;
      color: $deep-blue;
    }
  }
}

.shop-list {
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;

  h2 {
    font-size: 2.4rem;
    font-style: italic;
    color: $deep-blue;
  }

  .product {
    width: 100%;
    margin-top: 2rem;
    background-color: $deep-blue;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    transform: translateX(100%);
    transition: all 750ms;
    display: none;

    &.active {
      display: block;
      transform: translateX(0) scale(1);
    }

    p {
      color: $main-yellow;
      font-size: 1.8rem;
      margin: 1.5rem 0;
    }

    img {
      max-width: 100%;
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
    }

    .btn-shop-now {
      background-color: $main-red;
      padding: 2rem;

      p {
        margin: 0;
        font-size: 1.6rem;
        display: inline-block;
        color: #fff;
      }

      img {
        border-radius: 0;
        width: 1.6rem;
        margin-left: 0.2rem;
      }
    }

    .supplier {
      border-bottom-right-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
      padding: 1.6rem;
      margin-top: 2rem;
    }
  }

  .products-controls {
    max-width: 100%;
    padding: 2rem 1.6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .control {
      width: 33.3%;
      height: 0.6rem;
      margin: 0 1rem;
      cursor: pointer;
      position: relative;
      display: inline-block;
      background-color: #cfcfcf;
      transition: background-color 680ms;

      &.active {
        background-color: $main-red;
      }
    }
  }
}

/* Last News */

.last-news {
  background-color: $deep-blue;
  color: #fff;
  font-family: "Oswald", sans-serif;
  max-width: 100%;

  .news {
    display: flex;
    padding: 1.6rem 0;

    img {
      max-width: 50%;
      border-radius: 0.2rem;
    }

    .news-info {
      display: flex;
      flex-direction: column;
      margin-left: 1.6rem;

      .news-title {
        flex: 2;
        font-size: 1.8rem;
      }

      .news-details {
        margin-top: 1rem;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        p {
          display: inline-block;
          font-size: 1.2rem;
          span {
            width: 1.2rem;

            img {
              width: 1.2rem;
            }
          }
        }

        .news-category {
          background-color: $main-red;
          padding: 0.5rem;
          font-size: 1.2rem;
        }
      }
    }
  }

  .btn-load-more {
    margin: 2rem auto 0 auto;
    background-color: $main-blue;
    display: block;
    width: 50%;
    padding: 1rem;
    font-size: 1.4rem;

    &:hover {
      background-color: $main-red;
    }
  }
}
