@import "reset";
@import "colors";
@import "fonts";

body {
  font-family: sans-serif; /* Change this */
}

/* Header */
header {
  background-color: $deepest-blue;
  display: flex;
  padding: 1.6rem;
  align-items: center;
  justify-content: space-between;
  .btn-menu {
    width: 2rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    cursor: pointer;

    .bar,
    .bar::before,
    .bar::after {
      width: 2rem;
      height: 0.2rem;
      background-color: $main-white;
    }

    .bar {
      position: relative;

      &::after,
      &::before {
        content: "";
        position: absolute;
      }

      &::after {
        top: -0.8rem;
      }
      &::before {
        bottom: -0.8rem;
      }
    }
  }

  .logo {
    display: inline-block;
    margin-right: 1rem;
    img {
      width: 6.4rem;
    }
  }

  .overlay {
    position: relative;
    z-index: 1;

    .navbar {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 6rem 0;
      background-color: rgba($deep-blue, $alpha: 1);
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transform: translateX(-100%);
      transition: transform 750ms;

      &.visible {
        transform: translateX(0);
      }

      .btn-close {
        width: 3.5rem;
        height: 3.5rem;
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        cursor: pointer;

        &::before,
        &::after {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: 3rem;
          height: 0.25rem;
          background-color: $main-white;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      li {
        margin: 3rem 0;

        a {
          font-family: HeadingPro;
          font-style: italic;
          font-weight: bold;
          color: #fff;
          font-size: 3.2rem;
          text-transform: uppercase;
          transition: color 500ms;

          &:hover {
            color: $main-golden-yellow;
            color: $main-red;
          }
        }
      }
    }
  }
}

/* Last News Showase */
.last-news-slider {
  width: 100%;
  position: relative;

  .slide {
    max-width: 100%;
    position: relative;
    transform: translateX(100%);
    display: none;

    &.active {
      transform: translateX(0) scale(1);
      display: block;

      h2 {
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.7)
      );
    }

    img {
      max-width: 100%;
      //animation: from-right 400ms linear 1.2s;
    }

    h2 {
      padding: 1.2rem 1.2rem 1rem 1.2rem;
      position: absolute;
      bottom: 0;
      font-size: 2rem;
      color: $main-white;
      font-family: HeadingPro;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  .left-arrow,
  .right-arrow {
    font-size: 3rem;
    font-weight: bold;
    color: rgba($main-white, 0.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: rgba($deepest-blue, 0.7);
      color: $main-white;
    }
  }

  .left-arrow {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .right-arrow {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
  }

  @keyframes from-left {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes from-right {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}
